:root {
    --white: #ffffff;
    --black: #000000;
    --off-black: #292929;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      height: 100vh;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .widget{
      width: 350px;
      height: 500px;
      border-radius: 10px;
      border: solid 3.7px var(--off-black);
      box-shadow: 7px 7px var(--off-black);
  }

  .results{
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .buttons{
      width: 100%;
      height: auto;
  }

  .fila{
      width: 100%;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  }

  .btn-0,
  .btn-coma{
      flex-grow: 0;
  }
  .btn-result{
      flex-grow: 0.6;
  }

  .btn{
      width: 60px;
      height: 60px;
      margin: 7px;
      border-radius: 4px;
      color: var(--black);
      border: solid 1px var(--off-black);
  }